---
- name: Configure system hostname
  ansible.netcommon.cli_config:
    lines:
      - sysname {{ inventory_hostname }}

- name: Configure NTP servers
  ansible.netcommon.cli_config:
    lines:
      - ntp-server {{ item }}
  loop: "{{ ntp_servers }}"
  when: ntp_servers | length > 0

- name: Configure DNS servers
  ansible.netcommon.cli_config:
    lines:
      - dns server {{ item }}
  loop: "{{ dns_servers }}"
  when: dns_servers | length > 0

- name: Configure syslog servers
  ansible.netcommon.cli_config:
    lines:
      - info-center source default channel 4 log level {{ logging_level }}
      - info-center loghost {{ item }}
  loop: "{{ syslog_servers }}"
  when: syslog_servers | length > 0

- name: Configure MTU on interfaces
  ansible.netcommon.cli_config:
    lines:
      - interface {{ item.interface }}
      - mtu {{ default_mtu }}
      - quit
  loop: "{{ spine_interfaces if 'spine' in group_names else leaf_interfaces }}"

- name: Enable LLDP globally
  ansible.netcommon.cli_config:
    lines:
      - lldp enable
