---
- name: Configure OSPF process
  ansible.netcommon.cli_config:
    lines:
      - ospf {{ ospf_area }}
      - router-id {{ loopback0.split('/')[0] }}
      - quit

- name: Advertise loopback in OSPF
  ansible.netcommon.cli_config:
    lines:
      - ospf {{ ospf_area }}
      - area {{ ospf_area }}
      - network {{ loopback0.split('/')[0] }} 0.0.0.0
      - quit
      - quit
  when: loopback0 is defined

- name: Advertise VTEP loopback in OSPF (leaf only)
  ansible.netcommon.cli_config:
    lines:
      - ospf {{ ospf_area }}
      - area {{ ospf_area }}
      - network {{ vtep_loopback.split('/')[0] }} 0.0.0.0
      - quit
      - quit
  when: 
    - "'leaf' in group_names"
    - vtep_loopback is defined

- name: Advertise point-to-point links in OSPF
  ansible.netcommon.cli_config:
    lines:
      - ospf {{ ospf_area }}
      - area {{ ospf_area }}
      - network {{ item.ip.split('/')[0] }} 0.0.0.3
      - quit
      - quit
  loop: "{{ spine_interfaces if 'spine' in group_names else leaf_interfaces }}"
  when: item.ip is defined

- name: Set OSPF network type to point-to-point
  ansible.netcommon.cli_config:
    lines:
      - interface {{ item.interface }}
      - ospf network-type p2p
      - quit
  loop: "{{ spine_interfaces if 'spine' in group_names else leaf_interfaces }}"
  when: item.ip is defined

- name: Configure OSPF passive interfaces
  ansible.netcommon.cli_config:
    lines:
      - ospf {{ ospf_area }}
      - area {{ ospf_area }}
      - passive-interface Loopback0
      - quit
      - quit
  when: loopback0 is defined

- name: Configure OSPF passive VTEP interface (leaf only)
  ansible.netcommon.cli_config:
    lines:
      - ospf {{ ospf_area }}
      - area {{ ospf_area }}
      - passive-interface Loopback1
      - quit
      - quit
  when: 
    - "'leaf' in group_names"
    - vtep_loopback is defined
