---
- name: Enable VXLAN on leaf switches
  huawei.vrp.vrp_config:
    lines:
      - vxlan

- name: Configure NVE interface
  huawei.vrp.vrp_config:
    lines:
      - interface Nve1
      - source {{ vtep_loopback.split('/')[0] }}
      - description VTEP for VXLAN
      - undo shutdown
      - quit
  when: vtep_loopback is defined

- name: Configure bridge domain for VXLAN
  huawei.vrp.vrp_config:
    lines:
      - bridge-domain {{ item }}
      - vxlan vni {{ item }}
      - quit
  loop: "{{ vni_range.split('-')[0] | int + range(0, 100) | list }}"
  when: vni_range is defined

- name: Configure VLAN to VNI mapping
  huawei.vrp.vrp_config:
    lines:
      - bridge-domain {{ item }}
      - vxlan vni {{ item }}
      - quit
      - interface Vlanif{{ item | int + 1000 }}
      - vxlan vni {{ item }}
      - quit
  loop: "{{ vni_range.split('-')[0] | int + range(0, 100) | list }}"
  when: vni_range is defined

- name: Configure EVPN for VXLAN
  huawei.vrp.vrp_config:
    lines:
      - bgp {{ asn }}
      - l2vpn evpn
      - advertise irb
      - advertise l2vpn evpn
      - quit
      - quit

- name: Configure ARP suppression
  huawei.vrp.vrp_config:
    lines:
      - interface Nve1
      - arp-suppress enable
      - quit
  when: vtep_loopback is defined

- name: Configure MAC learning limit
  huawei.vrp.vrp_config:
    lines:
      - interface Nve1
      - mac-limit maximum 65536
      - quit
  when: vtep_loopback is defined
