========================================
HUAWEI CE6800 SPINE-LEAF FABRIC REPORT
========================================

Deployment Date: {{ ansible_date_time.iso8601 }}
Fabric Name: {{ fabric_name }}
BGP ASN: {{ asn }}
Underlay Protocol: {{ underlay_routing_protocol }}

SPINE SWITCHES:
{% for host in groups.spine %}
{{ host }}:
  Management IP: {{ hostvars[host].ansible_host }}
  Spine ID: {{ hostvars[host].spine_id }}
  Loopback0: {{ hostvars[host].loopback0 }}
  Interfaces:
{% for interface in hostvars[host].spine_interfaces %}
  - {{ interface.interface }}: {{ interface.description }} ({{ interface.ip }})
{% endfor %}

{% endfor %}

LEAF SWITCHES:
{% for host in groups.leaf %}
{{ host }}:
  Management IP: {{ hostvars[host].ansible_host }}
  Leaf ID: {{ hostvars[host].leaf_id }}
  Loopback0: {{ hostvars[host].loopback0 }}
  VTEP Loopback: {{ hostvars[host].vtep_loopback }}
  Interfaces:
{% for interface in hostvars[host].leaf_interfaces %}
  - {{ interface.interface }}: {{ interface.description }} ({{ interface.ip }})
{% endfor %}

{% endfor %}

NETWORK CONFIGURATION:
- Default MTU: {{ default_mtu }}
- VLAN Range: {{ default_vlan_range }}
- VRF Range: {{ default_vrf_range }}
- VNI Range: {{ vni_range }}
- VTEP Loopback Range: {{ vtep_loopback_range }}

BGP CONFIGURATION:
- Hold Time: {{ bgp_hold_time }}s
- Keepalive Time: {{ bgp_keepalive_time }}s
- Area: {{ ospf_area }}

VERIFICATION COMMANDS:
- Display interfaces: display ip interface brief
- Display BGP peers: display bgp peer
- Display OSPF peers: display ospf peer
- Display VXLAN: display vxlan tunnel
- Display bridge domains: display bridge-domain

========================================
Report generated by Ansible Fabric Manager
========================================
